@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url(components/profile_picture.css);
@import url(components/boutons.css);
@import url(components/space.css);
@import url(components/tags.css);
@import url(components/post.css);
@import url(components/main.css);
@import url(components/settings.css);
@import url(components/delet.css);
@import url(components/publish.css);
@import url(components/connection.css);

*{
    padding: 0%;
    margin: 0%;
    font-size: 2vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

li{
    list-style: none;
}

@media(max-width : 810px){
    *{
        font-size: 4vw;
    }
}