.bouton{
    background-color: aliceblue;
    border-radius: 100px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    padding: 3%;
    margin-bottom: 4vh;
}

.clicked{
    color: whitesmoke;
    background-color: black;
    border-radius: 100px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid whitesmoke;
    padding: 3%;
    margin-bottom: 4vh;
}

.connection{
    background-color: aliceblue;
    border-radius: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    padding: 3%;
    margin-top: 16vh;
}

.connection_clicked{
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid aliceblue;
    padding: 3%;
    margin-top: 16vh;
}

.bouton :hover{
    cursor: pointer;
}

.clicked :hover{
    cursor: pointer;
}

.connection :hover{
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}