#delet{
  position: sticky;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 5%;
  border-radius: 50px;
  left: 32.5%;
  bottom: 40%;
  width: 50%;
  border: 5px solid salmon;
  animation: fadeInUp 0.5s;
  display: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

#choix{
  display: flex;
  justify-content: space-around;
}

#yes{
  background-color: grey;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 1000px;
  width: 30%;
}

#no{
  background-color: grey;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 1000px;
  width: 30%;
}

.trash{
  filter: invert(0%);
  background-color: none;
  border: none;
  transition: 0.1s linear;
}

.trash:hover{
  filter: invert(100%);
  background-color: rgb(224, 224, 224);
  border: 5px solid rgb(224, 224, 224);
  transition: 0.1s linear;
  border-radius: 1000px;
}