#posts{
    min-height: 100vh;
}

#do_a_post{
    position: fixed;
    background-color: white;
    border-radius: 1000px;
    width: 7vw;
    height: 7vw;
    padding: 1.5%;
    bottom: 1%;
    left: 70%;
}

#do_a_post:hover{
    transform: rotate(360deg);
    transition: 0.3s linear;
}

#do_a_post img{
    width: 100%;
    height: 100%;
} 

#do_a_post :hover{
    cursor: pointer;
}

.post{
    border: 5px solid black;
    border-radius: 50px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    padding: 3%;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.identity{
    display: flex;
    align-items: center;
}

.nameOfTag{
    text-align: start;
    margin-top: 5%;
}

.text{
    text-align: start;
    margin-top: 5%;
}

.image{
    margin-top: 5%;
}

.image img{
    width: 100%;
    height: 100%;
}

.trash{
    width: 10%;
}

.trash img{
    width: 100%;
    height: 100%; 
}

.date{
    font-size: 1vw;
    padding-top: 5%;
}

#media{
    margin-top: 5%;
}

.post_picture{
    max-width: 100%;
    width: auto;
    height: auto;
}

.post_picture img{
    width: 75%;
    height: 75%;
}


@media(max-width : 810px){
    #post{
        display: block;
    }
    
    #do_a_post{
        display: none;
    }
}