#Sport{
    background-color: #FBABD6;
}

#Culture{
    background-color: #FC93A6;
}

#video_game{
    background-color: #FEAE85;
}

#Histoire{
    background-color: #FFD2C1;
}

#Cinema{
    background-color: #46EAB0;
}

#Litterature{
    background-color: #5BC7D0;
}

#Tech{
    background-color: #C3FEF1;
}

#Musique{
    background-color: #ACC5FC;
}

#Anime{
    background-color: #C2E7FF;
}

#Sondage{
    background-color: #EEF8FF;
}

#clear{
    background-color: black;
    color: whitesmoke;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    border: 3px solid whitesmoke;
    border-radius: 100px;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.tag_choice{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    border-radius: 100px;
    margin-top: 2vh;
    height: 50%;
}

@media(max-width : 810px){
    .tag_choice{
        border: 5px solid black;
        margin-top: 3vh;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}